<img src="assets/logo.jpg" alt="" width="200" height="200" class="d-inline-block align-text-top">

<h1>Luidi Bros's style BarberShop</h1>

    <form>

        <img src="assets/user_man.jpg">

          <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" [(ngModel)]="customer.name">
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" name="lastName" [(ngModel)]="customer.lastName">
          <input type="number" class="form-control" id="inputAge" placeholder="Age" name="age"  [(ngModel)]="customer.age">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" [(ngModel)]="customer.email">

          <input type="button" class="btn btn-primary" value="Register" *ngIf="btnRegister"  (click)="register()">
          <input type="button" class="btn btn-primary" value="Update"   *ngIf="!btnRegister" (click)="update()">
          <input type="button" class="btn btn-primary" value="Remove"   *ngIf="!btnRegister" (click)="remove()">
          <input type="button" class="btn btn-primary" value="Cancel"   *ngIf="!btnRegister" (click)="cancel()">

        </form>

          <table class="table table-sm table-striped" *ngIf="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of customers; index as i">
                    <td>{{i+1}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.lastName}}</td>
                    <td>{{c.age}}</td>
                    <td>{{c.email}}</td>
                    <td><button class="btn btn-success" (click)="selectCustomer(i)">Select</button></td>
                </tr>
            </tbody>
        </table>
<router-outlet></router-outlet>
